#Folders
SAVE/
SCREENSHOTS/
TOOLS/

#Logging
FLSpew.txt
EXE/flhook_logs
#EXE/config
EXE/EXPORTS
EXE/logs
*.log

#Misc
*-fl.ini
*.lnk
*.bak
*.vscode
*.orig
FLHook.json
escalation-releases-key.pub
escalation-releases-key
*.id0
*.id1
*.id2
*.nam
*.til
