#Folders
SAVE/
SCREENSHOTS/

#Logging
FLSpew.txt
EXE/flhook_logs

#EXE/config
EXE/EXPORTS
EXE/logs
*.log

#Misc
*-fl.ini
*.lnk
*.bak
*.vscode
*.orig
FLHook.json
escalation-releases-key.pub
escalation-releases-key

#IDA
*.id0
*.id1
*.id2
*.nam
*.til
*.i64

#TOOLS
TOOLS/CRCTool/tmp.cdb
TOOLS/CRCTool/tmp.txt
TOOLS/CRCTool/esc-db
TOOLS/ALE Editor Alpha 4.1/.window_settings
TOOLS/ALE Editor Alpha 4.1/.window_layout